<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1 align="center">Welcome, <%= user %>!</h1>
    <p align="center"><a href="/secret">Secret Page</a></p>
    <p align="center"><a href="/logout">Sign Out</a></p>
  </body>
</html>
